body {
    background-color: #fefcfc;
    margin:50px;
    padding: 0px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.seller{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    border:2px hidden black;
    margin-bottom: 5px;
    padding:20px;
    max-width: fit-content; 
}
h1{
    color:rgb(113, 5, 89);
}
.seller__abtseller{
    margin-left:120px;
    font-size: 130%;
}
.seller__abtseller--des{
    width:550px;
    opacity: 50%;
}
.seller__rating{
    margin-top:50px;
    color:rgb(69, 3, 69);
    font-weight: bold;
}
.seller__rating--rate1,.seller__rating--rate2,.seller__rating--rate3{
    display:flex;
    border:2px solid rgb(242, 246, 243);
    width:330px;
    margin-left:80px;
    padding:5px;
    height:30px;
    border-radius: 5%;
    text-align: center;
    margin-bottom: 10px;
    background-color: rgba(243, 232, 243, 0.826);
}
.seller__rating--rate2{
    left:50px;
    position:relative;
    top:2px;
}
.seller__rating--rate3{
    left:180px;
    position:relative;
    margin:2px;
    top:2px;
}
.starring1,.starring2,.starring3{
    border:1 px solid white;
}
header{
    display:flex;
    justify-content:flex-start;
    align-items: center;
    font-style: italic;
    color:rgb(173, 18, 139)
}
img{
    border:1px;
    margin-right: 10px;
    border-radius: 50%;
}
h3{
    margin-top: 7px;
    color:white;
}
.opinion{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:10px;
    margin-bottom: 5px;
    padding:20px;
    max-width: fit-content;
}
.opinion__reviewer1,.opinion__reviewer2,.opinion__reviewer3{
    border:2px solid rgb(88, 2, 75);
    background-color: rgb(77, 3, 58);
    padding: 20px;
    border-radius: 3%;
    margin:40px;
}
.opinion__reviewer1{
    position:relative;
    top:60px;
    left:130px;
    width:270px;
}
.opinion__reviewer2{
    position:relative;
    top:100px;
    left:80px;
    width:270px;
}
.opinion__reviewer3{
    grid-row: 3 / span 5;
    left:835px;
    position:relative;
    bottom:190px;
    height:180px;
    width:270px;
    margin-right:10px;
}
.notes{
    text-align: center;
    color:white;
}
@media screen and (max-width:780px) {
    body{
        background-color: rgb(110, 94, 181);
    }
    .seller{
        display: flex;
        flex-direction: column;
    }
    .opinion{
        display: flex;
        flex-direction: column;
    }

} 
